@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
